@charset "ISO-8859-1";
* {

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body {
  max-width: 1000px;
  padding: 50px;
  border-radius: 15px;
}
table {
  width: 100%;
  margin: 10px auto 20px auto;
}
th {
  background-color: #aecbeb;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}
td {
  padding: 8px;
  border-bottom: 1px solid black;
  border: 1px solid rgb(0, 0, 0, 0.2);
}
tr {
  transition: background-color 0.5s;
}
tr:hover {
  background-color: #e8e8e8;
}

td {
  transition: background-color 0.4s;
}
td:hover {
  background-color: lightgrey;
}
button{
	margin-top:10px;
	padding:8px;
	background-color:white;
	color:blue;
	border:1px solid blue;
	border-radius:2px;
}
button:hover{
	background-color:blue;
	color:white;
}